.init {
    margin: 10px auto;
    border: 1px solid #222;
    padding: 10px;
}

.init h1 {
    font-size: 2.5em;
    margin-bottom: .5em;
    color: #C9301D;
    margin-top: 20px;
    padding: 0 0.2em;
    background-color: #222;
    text-align: center;
}

.init p {
    margin-bottom: 1.5em;
    color: #7b7b7b;
}
.list {
    display: none;
}

.consult {
    display: none;
}

