.init {
  text-align: center;
  border: 1px solid #222;
  padding: 0 10px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin: auto;
}
.init h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
  color: #c9301d;
  margin-top: 1em;
  padding: 0 0.2em;
  background-color: #222;
  text-align: center;
}

.init button {
  margin-top: 1.5em;
  border: 2px solid #222;
  padding: 6px 20px;
  text-decoration: none;
  color: #222;
  font-weight: bold;
}
.init button:hover {
  color: #c9301d;
  background-color: #222;
  border: 2px solid #c9301d;
  box-shadow: 3px 4px 8px #222;
}



.init div {
  margin-bottom: 1.8em;
}
.init a {
  text-decoration: none;
  margin-top: 1.5em;
  border: 2px solid #222;
  padding: 6px 20px;
  text-decoration: none;
  color: #222;
  font-weight: 600;
}

.init a:hover {
  color: #c9301d;
  background-color: #222;
  border: 2px solid #c9301d;
  box-shadow: 3px 4px 8px #222;
}

.init table {
  margin-top: 1em;
  margin-bottom: 1.5em;
  margin: auto;
}

hr {
  margin-bottom: 1em;
  margin-top: 1em;
}

button {
  margin-left: 1em;
}

h2 {
  margin-bottom: 1em;
}