

/*
.init label {
  padding-right: 1em;
}
.init input {
  padding: 5px;
  border: none;
  border-bottom: 1px solid #222;
  background-color: #efefef;
}

.init button {
  margin-top: 1.5em;
  border: 2px solid #222;
  padding: 6px 20px;
  text-decoration: none;
  color: #222;
  font-weight: bold;
  border-radius: 0;
}
.init button:hover {
  color: #c9301d;
  background-color: #222;
  border: 2px solid #c9301d;
  box-shadow: 3px 4px 8px #222;
}

.init button:active {
  box-shadow: 3px 4px 8px #c9301d;
}

.init a {
  text-decoration: none;
  margin-top: 1.5em;
  border: 2px solid #222;
  padding: 6px 20px;
  text-decoration: none;
  color: #222;
  font-weight: 600;
}

.init a:hover {
  color: #c9301d;
  background-color: #222;
  border: 2px solid #c9301d;
  box-shadow: 3px 4px 8px #222;
}

.init div {
  margin-bottom: 0.8em;
}

*/